{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "main" }}
  {{ $posts := where (where .Site.RegularPages "Section" "posts") ".Draft" false }}

  <ul class="post-list">
    {{ range first 3 $posts }}
      <li>
        <div class="post-header">
          <div class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
          <div class="post-meta">{{ .Date.Format "2 January 2006" }}</div>
        </div>
        <div class="post-excerpt">{{ .Summary }}</div>
      </li>
    {{ end }}
    {{ range after 3 $posts }}
      <li>
        <div class="post-header">
          <div class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
          <div class="post-meta">{{ .Date.Format "2 January 2006" }}</div>
        </div>
        {{ with .Params.tagline }}<div class="post-excerpt">{{ . }}</div>{{ end }}
      </li>
    {{ end }}
      <li>
        <div class="post-header">
          <div class="post-title"><a href="/meejinnz/">Me, John, In New Zealand</a></div>
          <div class="post-meta">12 August 2002</div>
        </div>
        <div class="post-excerpt">A photo diary of three weeks on the South Island of New Zealand.</div>
      </li>
  </ul>
{{ end }}
