{% extends "base.html" %}

{% block container %}
<h3>John Mee</h3>
    <hr />
<div>
    <p>
        From parallel wheel ruts shimmerimg and rolling over ochre sand dunes and vanishing into the boundless
        blue skies of an Australian outback,
        John Mee tucked a gleaming new Simon Anderson 6'5" Indo gun underarm to board Garuda flight GA16 one-way to a new
        <a href="/travel-letters-indonesia-hawaii-usa-canada">adventure</a>!
        </p><p>
        He stared into the thundering boneyards of a boiling Sunset Beach reef from atop twenty-foot swells.
        In a poo-brown two-litre fuel-injected 1979 kombi, he
        criss-crossed the slate-grey concrete ribbons of American
        heartland. In a marble-lined mall on the bank of an untreated sewer in Surabaya-Indonesia,
        he dominated all-challengers on the local global arcade phenomenum: Street Fighter II.
        He composed the first snowboard lines across white sheets of each glorious snowbound Monashee dawn.
        He met the people and broke bread with them.
    </p>

    <p>
        But <a href="/resume/">today</a>? The silent bluegrey of
        an Apple Eyemack stares back indifferently into the vanishing points of his red delta far-away eyes whilst they
        stumble amid the aftermath of yet another 10&ndash;15 hour assault upon it's codebases.
        Yesterdays and tomorrows Blend. Blister, Blur.  Adventure of a different kind.
        Patient and slumbering <em>travel</em> sleeps. Patient. Brooding. Dreaming.
    </p>

    <p>Of the next big chance:
        a tyke Jap motorbike beckons&mdash;nay, haunts&mdash;a venture through the melodious sounds and scents of jungles toiling with Laotian tribesmen;
        the fierce whistling
        solaces of white-tipped sentinals speckled carelessly with Himalayan porters and their jangling Yak trains;
        the rioting color aswirl in the bazaars of staccato Arabian
        merchants; to languish awhile in the teeming town squares and moldy stone ruins of rolling pommy
        peasants and handlebar-mustachioed burgomeisters; precocious princesses of Paris tap on their cafe tables.
        Time ticking by...
    </p>
</div>
<div>
    <ul>
        <li><a href="/resume">Resum&eacute;</a></li>
    </ul>
    <p>Technical Posts</p>
    <ul>
        {% for post in technical_posts %}
        <li><a href="{{ post.path }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    <p>Opinion Posts</p>
    <ul>
    {% for post in opinion_posts %}
    <li><a href="{{ post.path }}">{{ post.title }}</a></li>
    {% endfor %}
    <li><a href="/meejinnz/">Mee, John: In New Zealand</a></li>
    </ul>
</div>

<div>
    <p>I put this here to see if it actually earns me free snipes:
        <a href="http://www.ezsniper.com">eBay sniper</a>
        <img src="http://www.ezsniper.com/refimg.php3?user=john2095">
    </p>
</div>
{% endblock %}
