{% extends "base.html" %}

{% block container %}
<h3>John Mee</h3>
<hr/>
<div class="outer">
    <div class="inner">
        <div>
            <p>
                The corrugations shimmered over ochre sand dunes and vanished into the boundless
                blue skies of an Australian outback.
                John tucked a gleaming new Simon Anderson 6'5" Indo gun underarm to board Garuda flight GA16 one-way to a new
                adventure.
                </p><p>
                He stared into the thundering boneyards of a boiling Sunset Beach reef from atop twenty-foot swells.
                He criss-crossed the slate-grey concrete ribbons of American
                heartland in a brown two-litre fuel-injected 1979 kombi.
                In a marblestone mall on the bank of an open raw sewer in Surabaya-Indonesia, he dominated all-challengers on the
                local global arcade phenomenum: Street Fighter II.
                He composed the first tracks on the pure white sheets of glorious snowbound Monashee dawns.
                He met masses, and ate with them.
            </p>
            <p>
                Today the silent bluegrey of
                the console stares back indifferently into the vanishing points of far-away eyes; the aftermath of
                another 10&ndash;15 hour dash on it's codebases.
                The yesterdays, todays, and tomorrows blend, blister, blur.  It's adventure of a different kind.
                Slumbering horizons sleep. Brooding. Patient. Dreaming.
            </p>

            <p>Dreaming of the next adventure.
                A tyke Jap motorbike burbling into the scents and sounds of a jungle toiling with tribesmen;
                Fierce whistling solaces, white-tipped Himilayan sentinals, speckled absently with porters and their jangling Yak trains;
                The riotous color swirling in the bazaars of staccato chattering arabian merchants;
                Languishing awhile in a teeming town square of ancient stone where
                the pommy peasants and mustachioed burgomeisters set down their beers to pontificate amidst
                precocious parisien princesses tapping for attention upon their cafe table.
            </p>
            <p>
                Time ticking...
            </p>
        </div>
    </div>
</div>
<hr/>
<div>
    <ul>
        <li><a href="/resume">Resum&eacute;</a></li>
        <li><a href="/static/mygpgkey.txt">My GPG Public key</a></li>
    </ul>
    <p>Technical Stuff</p>
    <ul>
        {% for post in technical_posts %}
        <li><a href="{{ post.path }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    <p>Other Stuff</p>
    <ul>
    {% for post in opinion_posts %}
    <li><a href="{{ post.path }}">{{ post.title }}</a></li>
    {% endfor %}
    <li><a href="/meejinnz/">Mee, John: In New Zealand</a></li>
    </ul>
</div>
<hr/>
<div>
    <p class="tiny">I put this here to see if it actually earns me any free snipes:
        <a href="https://www.ezsniper.com">eBay sniper</a> And it does!
        <img src="https://www.ezsniper.com/refimg.php3?user=john2095">
    </p>
</div>
{% endblock %}
