{% extends 'base.html' %}

{% block container %}
<div class="row">
    <div class="one-third column"><a href="/"><i class="fa fa-home"></i></a></div>
    <div class="one-third column u-center">&copy;John Mee</div>
    <div class="one-third column"><span class="u-pull-right">
    {% if page.revised %}
        <span class="j-dates">First Published</span> {{ page.published.strftime('%d-%b-%Y') }}<br/>
        <span class="j-dates">Last Revised</span> {{ page.revised.strftime('%d-%b-%Y') }}
    {% elif page.published %}
        {{ page.published.strftime('%d-%b-%Y') }}
    {% endif %}
    </span>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <hr/>
        {{ page }}
    </div>
</div>

<div class="row">
    {# Comments powered by disqus.com #}
    {% if page.disqus %}
        {% include 'disqus.html' %}
    {% endif %}
</div>
{% endblock %}
